__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.log
*.zip
geckodriver.exe
geckodriver
chromedriver.exe
chromedriver
msedgedriver.exe
msedgedriver
drivers/
*.driver
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/
virtualenv/
.vscode/
.idea/
*.swp
*.swo
*~
.~*
.DS_Store
.project
.pydevproject
.settings/
*.sublime-*
/.idea/
/.vscode/
*.iml
.ipynb_checkpoints
*.ipynb
.env
.env.local
.env.*.local
Thumbs.db
desktop.ini
$RECYCLE.BIN/
*.log
*.sql
*.sqlite
*.db
*.tmp
*.temp
screenshots/
screenshots_failures/
logs/
test-reports/
*.bak
*.backup
*.old
*.ipynb
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.prof
*.prof
test_output/
output/
temp/
